body {
  background-color: #2a363b;
}

a {
  color: antiquewhite;
  text-decoration: none;
}

.mouseover {
  font-size: 20px;
  color: coral;
  text-transform: uppercase;
}

.appendedDiv {
  width: 50px;
  height: 20px;
  background-color: coral;
  margin-top: 25px;
}
